:root {
  --footstep-rotation: 0; 
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;

  font-family: 'Harry Potter', sans-serif;
  color: #daae69;
  background-color: #040414;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.left {
  padding: 65px 0;
}

.footstep {
  opacity: 0;
  animation: flicker 5s ease alternate infinite;
  transform: rotateZ(var(--footstep-rotation));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

div {
  margin: 0 auto;
  padding-bottom: 50px;
}

.roulette {
  width: 0;
  height: 0;
  
  display: grid;
  justify-content: center;
  align-content: center;
}

.roulette > * {
  grid-column: 1;
  grid-row: 1;
}

.wizard {
  animation: spinAround 13.5s linear infinite;
}

.keep-axis {
  transform: rotate(90deg);
}

.choixpeauWrapper {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg) translate(200px) scale(0.8);
  }
  to {
    transform: rotate(360deg) translate(200px) scale(0.8);
  }
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}