html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;

  font-family: 'Harry Potter', sans-serif;
  color: #daae69;
  background-color: #040414;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.left {
  padding: 65px 0;
}

main {
  display: flex;
  flex-direction: column;
}

div {
  margin: auto;
}